<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Recovery Request</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>

<body>
    <main class="container">
        <h1>Request Password Reset</h1>
        <form action="/request" method="post" autocomplete="off">
            <div class="grid">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" autocomplete="off" required>
            </div>
            <div class="grid">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" autocomplete="off" required>
            </div>
            <button type="submit" class="primary">Submit</button>
        </form>
        
        <!-- Back to Login Button -->
        <a href="/login"><button type="button" role="button">Back to login</button></a>
    </main>
</body>

</html>
