<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>

<body>
    <main class="container">
        <h2>Sign Up</h2>
        <form action="/signup" method="post" autocomplete="off">
            <div class="grid">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" autocomplete="off" required>
            </div>
            <div class="grid">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" autocomplete="off" required>
            </div>
            <div class="grid">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" autocomplete="off" required>
            </div>
            <button type="submit">Sign Up</button>
        </form>
        <div class="text-center">
            <p>Already have an account?</p>
            <a href="/login"><button type="button" role="button">Log in</button></a>
        </div>
    </main>
</body>

</html>
